.b-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_vertical {
        display: grid;
        gap: 40px;
        grid-template-columns: min-content;
    }

    &__menuItem {
        font-weight: 500;
        font-size: 28px;
        line-height: 45px;
        color: #FFFFFF;
        cursor: pointer;
    }

    &__menuItem_accent {
        text-decoration-line: underline;
    }
}

@media(max-width: 667px) {
    .b-nav {
        &__menuItem {
            font-size: 18px;
            line-height: 24px;
        }

        &_vertical {
            gap: 8px;
        }
    }
}