.b-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_vertical {
        display: grid;
        gap: 39px;
        grid-template-columns: min-content;
    }

    &__menuItem {
        font-weight: 500;
        font-size: 28px;
        line-height: 45px;
        color: #FFFFFF;
        cursor: pointer;
        position: relative;
    }

    &__menuItem_accent {
        font-weight: 700;
        font-size: 28px;
        line-height: 45px;
        text-decoration-line: underline;
    }

    &__menuItemWidthFix {
        font-weight: 700;
        font-size: 28px;
        line-height: 45px;
        text-decoration-line: underline;
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        z-index: -1;
    }

}

@media(max-width: 667px) {
    .b-nav {
        &__menuItem {
            font-size: 18px;
            line-height: 24px;
        }

        &_vertical {
            gap: 8px;
        }
    }
}