.b-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: #7029CB;

    &__prev,
    &__next {
        cursor: pointer;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 450px;
    }

    &__text {
        font-weight: 700;
        font-size: 45px;
        line-height: 45px;
        color: #FFFFFF;
        position: absolute;
        top: 260px;
    }

    &__textWrapper {
        display: flex;
        align-items: center;
        margin-right: 57px;
    }

    &__text_hidden {
        visibility: hidden;
    }
}

@media(max-width: 667px) {
    .b-slider {
        padding: 10px 20px;

        &__prev,
        &__next {
            width: 15px;
        }

        &__content {
            min-width: auto;
        }

        &__textWrapper {
            margin-right: 77px;
        }

        &__text {
            font-size: 24px;
            line-height: 18px;
            top: auto;
        }
    }
}